@mixin btn-styles{
  border: 1px solid transparent;
  font-size: 110%;
  font-family: inherit;
  padding: 1em 0.3em;
  letter-spacing: 0.01em;
  cursor: pointer;
  border-radius: $pry-bdr-rad;
  box-shadow: 0.025rem 0.025rem 0.2rem 0 rgba(0, 0, 0, 0.7);
}
