.page-header{
  padding: 1.1em 10%;
  text-align: left;
  color: $pry-clr;
  background: $pry-bg;

  a{
    text-decoration: none;
    color: inherit;
  }
}

@media only screen and (max-width: 768px){
	.page-header{
		font-size: 92%;
		letter-spacing: 0.025em;
	}
}

@media only screen and (max-width: 600px){
	.page-header{
		font-size: 85%;
	}
}