.page-header{
  padding: 0.75em 10%;
  letter-spacing: 0.02em;
  color: $pry-clr;
  background: $pry-bg;

  h1{
    display: inline-block;
  }

  a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px){
	.page-header{   
    a{
      font-size: 76%;
    }
	}
}