.container{
  border: 1px solid green;
  // width: 60vw;
}

.answers-container{
  border: 1px solid blue;
  padding: 1em 0;
}

.answer{
  border: 1px solid grey;
  padding: 1em 0;
  margin-bottom: 1em;

}