.question{
  padding: 1em 0;

  h3{
    color: #2d577a;
    // color: rgb(56, 72, 126);
  }

  p{
    font-size: 1.38rem;
    // font-size: 142%;
    font-weight: 500;
    letter-spacing : 0.01em;
  }
}

@media only screen and (max-width: 768px){
  .question{
    p{
      font-size: 130%;
    }
  }
}

.progress-bar{
  border: 1px solid transparent;
  height: 0.3rem;
  // background: rgb(106, 128, 202);
  background: rgb(75, 99, 177);
  margin: 0.75em 0;
  transform-origin: 0% 0%;
  transition: transform 0.3s linear;
}

.answers-container{
  padding: 1em 0;
}

.answer, 
.btn-pry{
  @include btn-styles;
}

@media only screen and (max-width: 768px){
  .answer,
  .btn-pry{
    font-size: 105%;
  }
}

.answer{
  background: #f0f0f0;
  // color: #4682B4;
  color: #2d577a;
  // color: rgb(56, 72, 126);
  margin-bottom: 1.25em;
  list-style: none;

  &:hover{
    // background: #4078a6;
    // background: #2f5a7e;
    // background: rgb(56, 72, 126);
    background: linear-gradient(to bottom right, rgb(56, 72, 126), #2f5a7e);
    // background: rgb(56, 63, 117);
    color: $pry-clr;
  }
}

.btn-pry{
  margin-top: 1.5em;
  width: 100%;
  color: $pry-clr;
  background: $pry-bg;

  &:hover{
    background: #283644;
  }
  // background: rgb(106, 128, 202);
}

.disabled{
  pointer-events: none;
}

.correct-answer,
.incorrect-answer{
  color: $pry-clr;
}

.correct-answer{
  // background: #246e46;
  background: linear-gradient(to top right, #278050, #18643c);

  &:focus{
    background: linear-gradient(to top right, #278050, #18643c);
  }
}

.incorrect-answer{
  // background: #a50000;
  background: linear-gradient(to right, #a50000, #b60c0c);

  &:focus{
    background: linear-gradient(to right, #a50000, #b60c0c);
  }
}