$canvas-width: 200px;
$canvas-height: 200px;
$stroke-width: 18px;

.score-header{
  padding: 1em 0;
  margin-bottom: 1em;
}

#counter{
  // background: red;
  z-index: 1;
}

.score-details{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  position: absolute;
  border-radius: 50%;
  width: $canvas-width;
  height: $canvas-height;
  background: transparent;
  border: $stroke-width solid whitesmoke;
}

.btn-container{
  padding: 2em 0;
}

.btn-sec{
  @include btn-styles;
  font-family: inherit;
  width: 100%;
  color: $pry-clr;
  background: rgb(56, 72, 126);
  // background: rgb(56, 63, 117);

  i{
    margin-left: 0.25em;
  }

  &:hover{
    background: rgb(51, 64, 104);
  }
}

@media only screen and (max-width: 768px){
  .btn-sec{
    font-size: 105%;
  }
}